* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

/*
----
GENERAL
----
*/

:root {
    --text-color-pink: #FF3998;
    --text-color-black: #000;
    --text-color-grey: #868686;
    --text-color-orange: #FF8139;
    --margin-top: 60px;
}

#button {
    box-sizing: border-box;
    color: var(--text-color-black);
    font-size: 1.3em;
    font-weight: 400;
    border: solid 5px transparent;
    border-radius: 100px;
    background: linear-gradient(to right top, #FF3998 5%, #ff3939 35%, #ffc039 85%, #39FFA0 100%);
    box-shadow: 2px 1000px 1px #fff inset;
    background-origin: border-box;
    padding: 20px 0;
    width: 188px;
}

#button > a {
    font-size: 1em;
    font-weight: 500;
    color: var(--text-color-black);
}

/*
----
HEADER
----
*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
}

#logo {
    width: 190px;
}

#mobile-menu {
    font-size: 2em;
    color: #999999;
}

#mobile-menu:hover {
    color: var(--text-color-pink);
}

header nav {
    display: none;
}

/*
----
HERO SECTION
----
*/

#hero {
    display: flex;
    flex-direction: row;
    padding: 60px 10%;
    background-image: url(./images/graphic.svg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 440px;
    background-position-x: calc(100% + 215px);
    background-position-y: -30px;

}

#hero div:first-child {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 80%;
}

#hero div > h3 {
    color: var(--text-color-pink);
    font-size: 1.2em;
    font-weight: 700;
}

#hero div > h1 {
    color: var(--text-color-black);
    font-size: 3em;
    font-weight: 900;

}

#hero div > p {
    color: var(--text-color-grey);
    font-size: 1.3em;
    font-weight: 400;
}

/*
----
BANNER SECTION
----
*/

#banner {
    margin-top: var(--margin-top);
    display: flex;
    flex-direction: column;
    background-image: url(./images/background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 90px 10% 40px 10%;
}

#banner > h2 {
    font-size: 2.4em;
    font-weight: 500;
}

#banner > p {
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: 400;
}

/*
----
COMPANIES SECTION
----
*/

#companies {
    margin-top: var(--margin-top);
    padding: 0 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 30px;
}

#companies > img:first-child {
    width: 100%;
    height: 88%;
    object-fit: cover;
    object-position: left;
}

#companies > img:nth-child(4) {
    display: none;
}

/*
----
AUCTION ARTICLE
----
*/

#auction {
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-top);
}

#auction > h2 {
    padding: 0 10%;
    font-size: 2.4em;
    font-weight: 500;
}

#auction > p {
    padding: 0 10%;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--text-color-grey);
}

#auction p span {
    text-decoration: underline;
}

.cards {
    padding: 0 10%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 40px;
    overflow: scroll;
}

.table {
    display: flex;
    flex-direction: column;
}

.table-content {
    padding: 20px;
    box-sizing: border-box;
    background-color: #EEEEEE;
    border-radius: 0 0 15px 15px;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}

.table-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.grid-row-first > p:first-child {
    color: var(--text-color-orange);
    font-size: 0.7em;
}

.grid-row-first > p:nth-child(2) {
    color: var(--text-color-grey);
    font-size: 0.7em;
    justify-self: end;
}

.grid-row-second > p:first-child {
    font-size: 1.2em;
    font-weight: 500;
}

.grid-row-second > div {
    display: flex;
    gap: 10px;
    justify-content: end;
}

.grid-row-second div p {
    font-size: 1.2em;
    font-weight: 500;
    justify-content: end;
}

.grid-row-third > p:first-child {
    color: var(--text-color-grey);
    font-size: 1em;
}

.grid-row-third > p:nth-child(2) {
    color: var(--text-color-grey);
    font-size: 1em;
    justify-self: end;
}

/*
----
SIGNUP
----
*/

#upsell {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background-image: url(./images/upsell-footer-image.svg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 210px;
    background-position-x: calc(100% + 35px);
    background-position-y: bottom;
    border-top: solid 2px #eeeeeebc;
    border-bottom: solid 2px #eeeeeebc;
}

#upsell div {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.upsel-card {
    padding: 0 10%
}

.upsel-card:nth-child(1) div {
    width: 80%;
}

.upsel-card:nth-child(2) div {
    width: 62%;
}

.upsel-card:first-child {
    padding-top: 70px;
}

.upsel-card:nth-child(2) {
    border-top: solid 2px #eeeeeebc;
    padding-top: 10px;
    padding-bottom: 70px;
}

#upsell div > h3 {
    color: var(--text-color-pink);
    font-size: 1.2em;
    font-weight: 700;
}

#upsell div > h1 {
    color: var(--text-color-black);
    font-size: 3.5em;
    font-weight: 900;

}

#upsell div > p {
    color: var(--text-color-grey);
    font-size: 1.3em;
    font-weight: 400;
}